<div class="border-2 p-12 border-dashed text-center">
    <p class="text-base mb-4">Oops! Your cart is empty. Please go back to the product page and add items.</p>
    <LinkTo @route="products">
        <button 
            class="bg-violet-50 hover:bg-violet-700 hover:text-white bg-violet-50 text-violet-700 font-bold shadow-sm rounded-lg p-2"
            type="button"
        >
            Browse Products
        </button>
    </LinkTo>
</div>