<header class="flex justify-between px-10 py-5">
    <figure class="w-40 h-8">
        <img src="images/logo.png" alt="Special FX"/>
    </figure>

    <button class="bg-gray-50 shadow-sm p-2" type="button">
        <this.ShoppingCart />
    </button>

    <button class="bg-gray-50 shadow-sm p-2" type="button">
        <span>{{this.unitsInCart}}</span>
        <this.ShoppingCart />
        <span>{{this.totalPayable}}</span>
    </button>
</header>