{{page-title "KshopApp"}}

<div class="tex">
    Special FX
</div>

<div>
    Cart
</div>

<nav class="bg-gray-500">
    <LinkTo @route="index" class="text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Home</LinkTo>
    <LinkTo @route="products" class="text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Products</LinkTo>
</nav>


<main class="p-8">
    {{outlet}}
</main>
