{{page-title "Index"}}

<section class="h-full ">
    <div class="mb-12 lg:mb-6">
        <h1 class="mb-5 text-4xl leading-10 font-medium">Welcome to Special FX Coffee</h1>
        <h2 class="text-xl leading-7 font-normal">Experience the excellence of our organic offerings</h2>
    </div>

    <div class="flex flex-wrap-reverse">
        <a 
        href="https://github.com/alotama/ideal-enigma" 
        target="_blank"
        role="button" class="w-full lg:w-auto mb-3 lg:md-0 lg:mr-4 lg:mb-0 bg-violet-50 text-violet-700 font-bold shadow-sm rounded-lg py-3 px-8 text-center">
        GitHub Repo
        </a>
        <LinkTo 
        @route="products" 
        role="button" class="w-full lg:w-auto mb-3 lg:mb-0 bg-violet-700 text-white font-bold shadow-sm rounded-lg py-3 px-8 text-center">
        Shop Now
        </LinkTo>
    </div>
</section>