{{page-title "Products"}}
<nav class="mb-16 mt-12">
    <ul class="flex justify-between space-x-4">
        <li class="text-violet-700 font-bold text-base leading-6">Groceries</li>
        <li>Wine</li>
        <li>Clothes</li>
        <li>FX</li>
    </ul>
</nav>
<section class="mb-8">
    <h1 class="text-4xl lending-10 font-medium">Groceries</h1>
    <h2 class="text-xl leading-7 font-normal">Special FX offers only the finest organic produce.</h2>
</section>
<section class="columns-1 lg:columns-3">
    {{#each this.model as |product|}}
    <div class="mb-9">
        <Product @product={{product}} />
    </div>
    {{/each}}
</section>
